<footer class="page-footer docs-footer white">
  <div class="container">
    <div class="row center valign-wrapper">
      <div class="col s12" style="color:black; text-transform: none;">
        Follow us on: 
        <a href="https://www.linkedin.com/company/computational-humanities-research"><img src="/images/linkedin.svg" alt="linkedin"></a> 
        <a href="https://twitter.com/CompHumResearch"><img src="/images/twitter-x.svg" alt="twitter-x"></a> 
        <a href="https://bsky.app/profile/comphumresearch.bsky.social"><img src="/images/bluesky.svg" alt="bluesky"></a> 
      </div>    
    </div>
  </div>
  <div class="container">
    <div class="row center valign-wrapper">
      <div class="col s4">
        <img class="organization-logo" width="50%" src="/images/csm_CHC.png"/>
      </div>
      <div class="col s4">
        <img class="organization-logo" width="30%" src="/images/DigHumLab.png"/>
      </div>      
      <div class="col s4">
        <img class="organization-logo" width="50%" src="/images/Aarhus_University_logo.svg.png"/>
      </div>
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container">
      <a href="/Code-of-conduct/" style="margin:auto; text-align:center; display:block;" >Code of conduct</a>
      <p class="center-align">© 2024, Computational Humanities Research</p>
    </div>
  </div>
</footer>